/* Home */
.home-header-container{
    height: 10em;
    width: 70em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
}
.home-header-calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10em;
    background-color: #EAECEE;
}
.home-header-content{
    position: relative;
    width: 100%;
    overflow: hidden;
}
#home-header-time{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1em;
    margin-left: 1em;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.5em;
    background-color: white;
    z-index: 2;
}
#home-header-plan{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1em;
    margin-right: 1em;
    cursor: pointer;
}
.header-content{
    height: 100%;
    position: relative;
}

/* Content Assets */
#sun{
    height: 10em;
    position: absolute;
    top: -0.5em;
    right: 1em;
    z-index: 0;
}
.clouds{
    height: 10em;
    position: absolute;    
    z-index: 1;
}
#cloud1{
    top: -2em;
    left: 0;
    transform: translateX(-100%);
    animation: slideRight 35s linear infinite;
}
#cloud2{
    height: 8em;
    top: 2em;
    left: 0;
    transform: translateX(-100%);
    animation: slideRight 20s linear 3s infinite;
}
#clouds{
    height: 10em;
    position: absolute;
    top: 1em;
    right: 0;
    transform: translateX(100%);
    z-index: 1;
    animation: slideLeft 30s linear infinite;
}
@keyframes slideRight{
    100%{ transform: translateX(62em); }
}
@keyframes slideLeft{
    100%{ transform: translateX(-62em); }
}
@media(max-width: 1504px){
    .home-header-container{
        width: 100%;
    }
}
@media(max-width: 578px){
    .home-header-container{
        flex-direction: column;
        height: 18em;
    }
    .home-header-calendar{
        width: 100%;
        height: 8em;
    }
    .home-header-content{
        height: 10em;
    }
}
@media(max-width: 400px){
    #sun{
        top: 1em;
        right: 0;
    }
}
@media(max-width: 300px){
    #home-header-time{
        margin-left: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
    }
}