/* Home */
.home-header-container{
    height: 10em;
    width: 70em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
}
.home-header-calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10em;
    background-color: #EAECEE;
    cursor: default;
}
.home-header-content{
    position: relative;
    width: 100%;
    overflow: hidden;
}
#home-header-time{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1em;
    margin-left: 1em;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.5em;
    background-color: white;
    z-index: 2;
    cursor: default;
}
#home-header-plan{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1em;
    margin-right: 1em;
    cursor: pointer;
}
.header-content{
    height: 100%;
    position: relative;
}

/* Content Assets */
#sun{
    height: 10em;
    position: absolute;
    top: -0.5em;
    right: 1em;
    z-index: 0;
}
.clouds{
    height: 10em;
    position: absolute;    
    z-index: 1;
}
#cloud1{
    top: -2em;
    left: 0;
    transform: translateX(-100%);
    animation: slideRight 35s linear infinite;
}
#cloud2{
    height: 8em;
    top: 2em;
    left: 0;
    transform: translateX(-100%);
    animation: slideRight 20s linear 3s infinite;
}
#mclouds{
    height: 10em;
    top: 2em;
    right: 0;
    transform: translateX(100%);
    animation: slideLeft 30s linear infinite;
}
#moon{
    height: 10em;
    position: absolute;
    right: -1em;
    top: -0.5em;
}
.star{
    position: absolute;
    z-index: 1;
    height: 5em;
}
#star1{
    left: 22%;
    top: 2em;
    height: 2.5em;
    animation: float 4s linear infinite alternate forwards;
}
#star2{
    left: 2%;
    top: 5em;
    animation: float 7s linear infinite alternate forwards;
    height: 4.5em;
}
#star3{
    top: -2em;
    left: 38%;
    animation: float 10s linear infinite alternate forwards;
    height: 6em;
}
#star4{
    right: 11%;
    top: 3em;
    animation: float 26s linear infinite alternate forwards;
    height: 3em;
}
#star5{
    right: 28%;
    animation: float 6s linear infinite alternate forwards;
    height: 4.5em;
}
#star6{
    right: 42%;
    top: 3em;
    animation: float 9s linear infinite alternate forwards;
}
@keyframes slideRight{
    100%{ transform: translateX(62em); }
}
@keyframes slideLeft{
    100%{ transform: translateX(-62em); }
}
@keyframes float{
    50%{ transform: translateY(-15%); }
    100%{ transform: translateY(15%); }
}
@media(max-width: 1504px){
    .home-header-container{
        width: 100%;
    }
}
@media(max-width: 1088px){
    #star5{
        bottom: -0.5em;
        right: 21%;
    }
    #star6{
        right: 35%;
    }
}
@media(max-width: 578px){
    .home-header-container{
        flex-direction: column;
        height: 18em;
    }
    .home-header-calendar{
        width: 100%;
        height: 8em;
    }
    .home-header-content{
        height: 10em;
    }
}
@media(max-width: 500px){
    #star6{
        display: none;
    }
}
@media(max-width: 400px){
    #sun{
        top: 1em;
        right: 0;
    }
    #star3{
        display: none;
    }
    #star5{
        display: none;
    }
    #moon{
        top: 1em;
        right: 0;
    }
}
@media(max-width: 300px){
    #home-header-time{
        margin-left: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
    }
}