/* List Grid */
#list-grid{
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    color: black;
}

/* List */
#list-title{
    font-size: 32pt;
}
#list-header-row{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    color: black;
}

/* Add List Btn */
#add-list-btn{
    width: 15em;
    height: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* List Item */
#selected-list{
    margin-left: 1em;
    width: 15em;
    height: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#selected-list-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 6em;
    width: 100%;
    cursor: default;
}
.list-item-container{
    flex: 0 0 25%;
    height: 20em;
    max-width: 22em;
    min-width: 22em;
    margin: 1em;
}
.list-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18em;
    width: 100%;
    cursor: default;
}
.list-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 100%;
    border-top: 1px solid #c7c7c7;
}
.list-actions > span{
    cursor: pointer;
}
.list-actions > span:hover{
    text-decoration: underline;
}