/* Add Modal */
.add-item-subheader{
    margin-top: 2em;
}
#add-subtasks-list{
    height: 15em;
    margin-bottom: 2em;
    margin-top: 1em;
    overflow-x: hidden;
    overflow-y: auto;
}
#add-title-input{
    font-size: 25pt;
}

/* Add Modal Sub Task */
#add-subtasks-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#add-subtasks-input{
    height: 3em;
}
#add-subtasks-btn{
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 14em;
}
.add-subtasks-item{
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5em;
}
@media(max-width: 546px){
    #add-subtasks-row{
        flex-direction: column;
    }
    #add-subtasks-btn{
        margin-top: 1em;
        width: 100%;
    }
    .add-subtasks-item{
        flex-direction: column;
    }
    .add-subtasks-item > Button{
        width: 100%;
    }
}