/* Edit Modal */
#edit-item-title{
    font-size: 25pt;
}
.edit-subheader{
    margin-top: 2em;
}
.edit-add-subtask{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#edit-subtask-input{
    height: 3em;
}
#edit-add-subtask-btn{
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 14em;
}
#edit-subtask-list{
    height: 15em;
    margin-bottom: 2em;
    margin-top: 1em;
    overflow-x: hidden;
    overflow-y: auto;
}
#edit-item-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media(max-width: 546px){
    .edit-add-subtask{
        flex-direction: column;
    }
    #edit-add-subtask-btn{
        margin-top: 1em;
        width: 100%;
    }
}