/* List */
.list-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
}
.list-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.list-content-container{
    width: 100%;
    height: 35em;
    overflow-y: auto;
}

/* List Item */
.list-item-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.list-item-actions{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list-item-content-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.list-item-created{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

/* Sublist Item */
.sublist-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em 2em;
}
.sublist-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sublist-actions{
    display: flex;
    flex-direction: row;
    align-items: center;
}