/* Main Content */
.main-content-container{
    width: calc(100% - 20em);
    height: 100%;
    padding: 2em;
    position: fixed;
    left: 20em;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #566573;
    color: white;
}

/* Content Titles */
.content-title{
    font-size: 32pt;
}